// ==========================
// Couleurs spécifiques au domaine Medic
// ==========================
$medic-primary-color: #0082ff;  // Par exemple, couleur principale de medic
$medic-accent-color: darken($medic-primary-color, 20%);
$medic-bg-color: #f0f8ff;
