@use "../base/variables" as *;
@use "../base/mixins" as *;

// Pour les variables spécifiques au domaine (ex : medic)
@use "../medic/variables" as medic;

.page-levels {
  .top-header {
    padding: 3vh;
  }
  .bottom-header {
    margin-top: 0px; // ou la valeur que tu veux uniquement pour cette page
    padding-top: 3vh;
  }
}

.grid-level-buttons {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  margin-left: 3vh;
  margin-bottom: 2vh;

  .diamond-button {
    position: relative;
    margin: 0 auto;
    width: clamp(150px, 10vw, 250px);
    height: clamp(150px, 10vw, 250px);
    font-size: 0; // pour éviter que l'espace vide parasite l'alignement

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: clamp(3rem, 8vw, 4rem);
      text-align: center;
      width: 80%;
    }
  }

  .description {
    font-size: clamp(1.25rem, 4vw, 2rem);
    color: $color-text;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 2vh;
  }

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
    text-align: center;

    .diamond-button {
      width: 25vw;
      height: 25vw;
    }

    .description {
      margin-top: 1rem;
      align-items: center;
    }
  }
}

.grid-header-levels {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: auto;
  margin-left: 4vh;

  .title-subtitle {
    justify-items: left;
  }

  .back-to-home,
  .back-to-levels {
    margin-left: auto;
    margin-right: 3vh;
  }
}

.grid-rectangular-box-level {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: auto;
  margin: auto;
  padding-top: 1.5vh;
}

.grid-qcm4-rectangular-box-choice {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3vh;
  margin: auto;
}

.exercice-description {
  font-size: 2.5vh;
  text-align: center;
  margin-bottom: 5vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.exercice-options {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2vh;
  margin: auto;
}
