// ==========================
// TYPOGRAPHIE
// ==========================
$font-general-sans: 'GeneralSans-Variable', sans-serif;

// ==========================
// COULEURS
// ==========================
$color-primary: #0082ff;
$color-danger: #ff0f00;
$color-dark: #484848;
$color-warning: #ff8c00;
$color-light: #ffffff;
$color-disabled: #d9d9d9;
$color-text: #333;

// ==========================
// BREAKPOINTS
// ==========================
$breakpoint-mobile: 600px;

// ==========================
// BOUTONS
// ==========================
$button-radius: 20px;
$button-small-radius: 3vw;

$diamond-button-size: 25vw;
$diamond-button-size-mobile: 20vw;

$rectangular-button-width: 16vw;
$rectangular-button-height: 16vw;
