// ==========================
// TYPOGRAPHIE
// ==========================
$font-general-sans: 'GeneralSans-Variable', sans-serif;

// ==========================
// COULEURS
// ==========================
$color-primary: #0082ff;
$color-fire: #ff0f00;
$color-one-seven-two-two: #484848;
$color-prevent: #ff8c00;
$color-light: #ffffff;
$color-disabled: #d9d9d9;
$color-text: #333;

// ==========================
// BREAKPOINTS
// ==========================
$breakpoint-small-mobile: 360px;    
$breakpoint-mobile: 600px;          
$breakpoint-large-mobile: 768px;    
$breakpoint-tablet: 1024px;         
$breakpoint-small-desktop: 1280px;  

// ==========================
// BOUTONS
// ==========================

$button-radius: 2.5vh;
$button-small-radius: 3vw;

// Taille responsive des boutons losange
$diamond-button-size: 25vw;
$diamond-button-size-mobile: 20vw;

// Taille responsive des boutons rectangulaires
$rectangular-button-width: 20vw;
$rectangular-button-height: 10vh;
