// ==========================
// Couleurs spécifiques au domaine Fire
// ==========================
$medic-primary-color: #ff0f00; 
$medic-accent-color: darken($medic-primary-color, 20%);
$medic-bg-color: #f0f8ff;
